<div class="main-container">
  <app-navbar
    [src_img]="currentUser && currentUser?.photoUrl"
    [textContentText]="currentUser?.userName"
    [textContentTextBalance]="currentUser && currentUser.cash.toString() + ' Dollars'"
  ></app-navbar>

  <div class="cont-submain d-flex justify-content-center align-items-center">

    <div class="container-items ">
      <div class="container-profile-image" >
        <app-profile-image
        class="profile-image d-flex justify-content-center align-items-center"
        [urlImage]="currentUser && currentUser?.photoUrl"
        ></app-profile-image>

        <div class="profile-info d-flex justify-content-center align-content-center bg-dark">
          <app-text class="text-navbar"
            [textContent]="currentUser && currentUser?.userName"
          ></app-text>

          <app-text
            class="text-navbar"
            [textContent]="currentUser && currentUser?.cash + ' USD'"
          ></app-text>
        </div>



      </div>


      <div class="slider">
        <div class="container-for">
          <div class="container" *ngFor="let item of charactersList ">
            <div class="card">
              <div class="card-border-top">
                <span>{{ item && item?.price }} USD</span>
              </div>
              <img class="img" src="{{ item && item?.photoUrl }}" alt="" />
              <span> {{ item?.name }}</span>
              <p class="job">{{ item?.species }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="cont-buttons-main d-flex justify-content-center">
        <!-- <app-button
        (click)="goBack.bind(this)"
        [ngClassButton]="ngClassButton"
        [textContent]="textContentButton"
      ></app-button> -->
      <div class="cont-buttons bg-black">
        <button (click)="goHome()"><span>Home</span></button>
        <button (click)="logout()" class="bg-danger"><span>Logout</span></button>
        <button (click)="recharge()"><span>Recharge</span></button>
      </div>


    </div>

  </div>






</div>
